.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* App.tsx */
.header {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px;
}
.logout-button {
  background-color: #017bfe;
  color: #101112;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: auto;
  width: 100px;
}

.logout-button:hover {
  background-color: #aeb6b7; /* Background color when hovering over the button */
}
/* LoginForm.tsx */
.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 10px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
}
.completed-task {
  text-decoration: line-through;
  color: #ca1616;
}
.completed-task button {
  background-color: transparent;
  color: green; /* Color for the Complete button */
  border: none;
  cursor: pointer;
}
.welcome {
  font-size: 20px;
  font-weight: bold;
  color: #ca1616;
}
.title {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.btn {
  display: block;
  width: 30%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

btn:hover {
  background-color: #0056b3;
}
.login-input {
  padding: 10px;
  margin: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-box {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
/* TodoForm.css */

.container-add-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.add-todo-input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-todo-input::placeholder {
  color: #888;
}

.add-todo-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-todo-button:hover {
  background-color: #0056b3;
}
/* TodoItem.tsx */

.li {
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkbox {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}
.btn-todo {
  display: block;
  width: 100px;
  padding: 10px;
  margin: auto;
  background-color: #b6dad3;
  color: #131212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* TodoList.css */

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo-item {
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
}
.todo-list-item {
  margin-bottom: 10px;
  width: 50%;
}
