.app {
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  padding: 5px;
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
}
.completed-task {
  text-decoration: line-through;
  color: #ca1616;
}
.completed-task button {
  background-color: transparent;
  color: green; /* Color for the Complete button */
  border: none;
  cursor: pointer;
}
.welcome {
  font-size: 20px;
  font-weight: bold;
  color: #ca1616;
}
